@import "tailwindcss";

* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}





@utility blue-100 {

    background-color: #e0e6ff;

}


@utility blue-200 {

    background-color: #5046e4;

}


@utility text-100 {

    color: #e0e6ff;

}


@utility text-200 {

    color: #5046e4;

}